html,body{
    height: 100%;
    width: 100%;
}
body{
    background: #f6f4f5;
}
.headerWrap{
    height: 120px;
    border-bottom: 1px solid #e60000;
}
.header{
    width: 1200px;
    height: 120px;
    background: #fffff8;
    margin: 0 auto;
}
.header img{
    height: 120px;
}
.topBar{
    width: 1200px;
    height: 38px;
    margin: 0 auto;
}
.topBar .daohang{
    width: 520px;
    height: 38px;
    display: flex;
}
.topBar .daohang li{
    padding: 0 24px;
}
.topBar .daohang li a{
    display: block;
}
.topBar .daohang li:hover{
    background: #e60000;
    color: #fff;
}
.topBar .daohang li:hover a{
    color: #fff;
}
.topBar .daohang li a{
    color: #333;
    line-height: 38px;
}
.topBar .loginwrap{
    width: 194px;
    height: 38px;
    display: flex;
}
.topBar .loginwrap p{
    color: #666666;
    font-weight: 400;
    line-height: 38px;
}
.topBar .loginwrap a{
    color: #e60000;
    margin-left: 10px;
    line-height: 38px;
}
.topBar .loginwrap span {
    color: #d1d1d1;
    margin-left: 10px;
    line-height: 38px;
}
.topLogoWrap{
    height: 126px;
    background: #fffff8;
    border-bottom: 1px solid #e60000;
}
.topLogo{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    
}
.topLogo img{
    height: 110px;
}
.topLogo .search{
    width: 850px;
    height: 110px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    
}
.topLogo .search .searchFrom{
    width: 770px;
    height: 45px;
    border: 2px solid #e60000;
    border-right: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: #fff;
}
.search .searchFrom .shurukuang{
    border: none;
    width: 590px;
}
.search .searchFrom .searchAll{
    width: 100px;
    height: 45px;
    /* background: #fffff8; */
    border-left: 1px solid #dbdbdb;
    position: relative;

}
.search .searchFrom .searchAll .searchnav{
    line-height: 45px;
    margin-left: 15px;
}
.search .searchFrom .searchAll span{
    position: absolute;
    background: url(../imgs/xiaotubiao.png) no-repeat 0 -10px;
    width: 7px;
    height: 4px;
    top: 20px;
    right: 12px;
}
.search .searchFrom  .searchBtn{
    display: block;
    height: 46px;
    background: #e60000;
    color: #fff;
    line-height: 45px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    letter-spacing: 3px;
    border-right: 1px solid #e60000;
}

.footer{
    /* width: 100%; */
    height: 200px;
    border-top: 1px solid #bbb;
    background: #dbdbdb;
}
.footer .footerNav{
    padding-top: 46px;
}
.footer .footerNav ul{
    display: flex;
    width: 500px;

    margin: 10px auto;
}
.footer .footerNav ul li{
    height: 30px;
    padding: 9px 0;
}
.footer .footerNav ul li a{
    color: #333333;
    padding:  0 30px;
    border-right: 1px solid #bbb;
}
.footer .footerNav ul li:nth-child(4) a{
    border-right: none;
}
.footer .footerNav ul li a:hover{
    text-decoration:underline;
    color: #e60000;
}
#right-nav {
    width: 45px;
    height: 100%;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
    margin: -90px 0 0;
}
#right-nav-list1 {
    position: relative;
    right: 0;
    top: 0;
    z-index: 20;
}
#right-nav li.first, #right-nav li.first > a {
    border-radius: 3px 0 0 0;
}
#right-nav li {
    position: relative;
    left: 0;
    top: 0;
    height: 36px;
    width: 45px;
    text-align: center;
    background: #999999;
}
#right-nav li > a {
    width: 100%;
    display: block;
    background: #999999;
    height: 35px;
    box-sizing: border-box;
}
#right-nav li .iconWrap {
    /* background: url(http://o.bookschina.com/images/nav6.jpg) no-repeat bottom center; */
    height: 36px;
    position: relative;
}
#right-nav li .iconWrap img {
    border: 0;
    vertical-align: middle;
    margin-left: 15px;
}
#right-nav li .navMessage {
    position: absolute;
    right: -104px;
    padding-right: 46px;
    top: 0;
    z-index: -1;
    font-size: 12px;
    background: #e60000;
    
    height: 35px;
    width: 60px;
    
    text-align: center;
    border-radius: 3px;
   
    transition: all linear 300ms;
}
#right-nav li .navMessage a{
    color: #fff;
    line-height: 35px;
    text-align: right;
}
#right-nav li:hover >a{
    background: #e60000;
}
#right-nav li:hover .navMessage{
    right: 0px;
}